<div class="col-sm-3 col-md-2 sidebar"><!--start of sidebar-->
  
  <ul class="nav nav-sidebar">
      <li>Open Data Plans</li>
  </ul>

    <ul class="nav nav-sidebar">
      <li>Community Services</li>
      <li><a href="{{site.baseurl}}/depts/#">Animal Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Code</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Public Library</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Health and Human Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Neighborhood Housing and Community Development</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Parks and Recreation</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Development</li>
      <li><a href="{{site.baseurl}}/depts/#">Development Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Economic Development</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Planning and Zoning</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Infrastructure/Transportation</li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Transportation</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Public Works</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Watershed Protection</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Public Safety</li>
      <li><a href="{{site.baseurl}}/depts/#">Emergency Medical Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Fire</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Municipal Court</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Police</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Utility and Other Enterprises</li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Convention Center</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Energy</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Resource Recovery</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Austin Water</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Aviation</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Internal Services</li>
      <li><a href="{{site.baseurl}}/depts/#">Communications and Technology Management</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Fleet Services</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Support Services</li>
      <li><a href="{{site.baseurl}}/depts/#">Building Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Communications and Public Information</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Financial Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Government Relations</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Human Resources</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Labor Relations</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Law</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Management Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Mayor and Council</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Office of the City Auditor</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Office of the City Clerk</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Office of the Medical Director</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Office of Real Estate Services</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Small and Minority Business Resources</a></li>
      <li><a href="{{site.baseurl}}/depts/#">Telecommunications and Regulatory Affairs</a></li>
    </ul>

</div><!--end of sidebar-->





























<!-- <div class="sidebar">
 

      <span class="sidebar-nav-item">Open data liaisons</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      
      <span class="sidebar-nav-item">Publishing open data</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/metadata">Metadata standard <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/new-datasets">How to create new datasets <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/publishers">Authorized publishers <div class="badge discovery">?</div></a>


      <a class="sidebar-nav-sub-item" href="{{site.url}}/thanks"><em>Thanks to... </em><div class="badge discovery">?</div></a>


      
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    


     <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
 --> 