<div class="col-sm-3 col-md-2 sidebar"><!--start of sidebar-->
  
  <ul class="nav nav-sidebar">
      <li>Open Data Plans</li>
  </ul>

    <ul class="nav nav-sidebar">
      <li>Community Services</li>
      <li><a href="{{site.baseurl}}/plans">Animal Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Code</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Public Library</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Health and Human Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Neighborhood Housing and Community Development</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Parks and Recreation</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Development</li>
      <li><a href="{{site.baseurl}}/plans/#">Development Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Economic Development</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Planning and Zoning</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Infrastructure/Transportation</li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Transportation</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Public Works</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Watershed Protection</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Public Safety</li>
      <li><a href="{{site.baseurl}}/plans/#">Emergency Medical Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Fire</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Municipal Court</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Police</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Utility and Other Enterprises</li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Convention Center</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Energy</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Resource Recovery</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Austin Water</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Aviation</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Internal Services</li>
      <li><a href="{{site.baseurl}}/plans/#">Communications and Technology Management</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Fleet Services</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Support Services</li>
      <li><a href="{{site.baseurl}}/plans/#">Building Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Communications and Public Information</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Financial Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Government Relations</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Human Resources</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Labor Relations</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Law</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Management Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Mayor and Council</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Office of the City Auditor</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Office of the City Clerk</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Office of the Medical Director</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Office of Real Estate Services</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Small and Minority Business Resources</a></li>
      <li><a href="{{site.baseurl}}/plans/#">Telecommunications and Regulatory Affairs</a></li>
    </ul>

</div><!--end of sidebar-->





























<!-- <div class="sidebar">
 

      <span class="sidebar-nav-item">Open data liaisons</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      
      <span class="sidebar-nav-item">Publishing open data</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/metadata">Metadata standard <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/new-datasets">How to create new datasets <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/publishers">Authorized publishers <div class="badge discovery">?</div></a>


      <a class="sidebar-nav-sub-item" href="{{site.url}}/thanks"><em>Thanks to... </em><div class="badge discovery">?</div></a>


      
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    


     <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
 --> 