<div class="col-sm-3 col-md-2 sidebar"><!--start of sidebar-->
  
  <ul class="nav nav-sidebar">
      <li>Open Data Library</li>
  </ul>
  
    <ul class="nav nav-sidebar">
      <li>About Austin's Open Data Initiative</li>
      <li><a href="{{site.baseurl}}/about">Background, authority, and governance</a></li>
      <li><a href="{{site.baseurl}}/definitions">Definitions</a></li>
      <li><a href="{{site.baseurl}}/projects">Past and current projects</a></li>
      <li><a href="{{site.baseurl}}/progress">Progress tracking</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Open Data Liaisons</li>
      <li><a href="{{site.baseurl}}/liaison-responsibilities">Roles and responsibilities</a></li>
      <li><a href="{{site.baseurl}}/current-liaisons">Current liaison roster</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Developing Open Data</li>
      <li><a href="{{site.baseurl}}/suggestions">New dataset suggestions</a></li>
      <li><a href="{{site.baseurl}}/plans">Department open data plans</a></li>
      <li><a href="{{site.baseurl}}/strategic-planning">Strategic planning</a></li>
    </ul>

    <ul class="nav nav-sidebar">
      <li>Publishing Open Data</li>
      <li><a href="{{site.baseurl}}/new-datasets">How to create new datasets</a></li>
      <li><a href="{{site.baseurl}}/licensing">Licensing policy</a></li>
      <li><a href="{{site.baseurl}}/not-for-publishing">Sensitive and protected data</a></li>
      <li><a href="{{site.baseurl}}/metadata">Metadata standard</a></li>
      <li><a href="{{site.baseurl}}/quality">Data quality standard</a></li>
<!--       <li><a href="{{site.baseurl}}/publishers">Authorized publishers</a></li> -->
    </ul>

    <ul class="nav nav-sidebar">
      <li>Using Open Data</li>
      <li><a href="{{site.baseurl}}/portal-terms-of-use">Portal terms of use</a></li>
      <li><a href="{{site.baseurl}}/attribution">How to attribute data to City of Austin</a></li>
      <li><a href="{{site.baseurl}}/feedback">Sending open data feedback</a></li>
    </ul>


<a href="{{site.baseurl}}/thanks"><em>Thanks to... </em></a>

<br>Currently v{{ site.version }}

</div><!--end of sidebar-->





























<!-- <div class="sidebar">
 

      <span class="sidebar-nav-item">Open data liaisons</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      
      <span class="sidebar-nav-item">Publishing open data</span>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/metadata">Metadata standard <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/new-datasets">How to create new datasets <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item"  <div class="badge discovery">?</div></a>
      <a class="sidebar-nav-sub-item" href="{{site.url}}/publishers">Authorized publishers <div class="badge discovery">?</div></a>


      <a class="sidebar-nav-sub-item" href="{{site.url}}/thanks"><em>Thanks to... </em><div class="badge discovery">?</div></a>


      
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    


     <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
 --> 