<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
  	{% include top-nav.html %}

    <div class="container">
      {{ content }}
    </div><!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/components/scripts/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/components/scripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
