<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

  	{% include top-nav.html %}

    <div class="container-fluid">
    	<div class="row">
			{% include plans-sidebar.html %}
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><!--start of main content-->
				<h3>About</h3>
				<p>[mission statement] [goals] [liaison]</p>
				<!-- <h3>Performance Measures</h3>
				<p>[programs] [activities] [measures]</p> -->
				<h3>Information Assets</h3>
<!-- 				<p>Primary Datasets</p>
        <ul>
          {% for dataset in site.data.primary-datasets %}{% if dataset.dept == 'ANM' %}
            <li>{{ dataset.dataset-name }}</li>
          {% endif %}{% endfor %}
        </ul> -->
        <p>Other Information Products</p>
				<h3>Data Wishlist</h3>
				<p>[wishlist items]</p>

				{{ content }}
    		</div><!--end of main content-->
      	</div><!--row-->
    </div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.baseurl}}/components/scripts/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/components/scripts/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
