---
layout: default
---


<div class="page">
	<a href="https://github.com/cityofaustin/open-data-docs/commits/gh-pages/{{page.file}}"><small>View page history | </small></a><a href="https://github.com/cityofaustin/open-data-docs/blob/gh-pages/{{page.file}}"><small>Edit this page</small></a>
	<h1 class="page-title" style="margin-bottom: 5px;">{{ page.title }}</h1>
	<h1 class="text-uppercase project-subtitle"><small>{{ page.type }} Definition Document</small></h1>

	<p>{{page.purpose}}</p>

	<dl>
		<dt>Coordinator:</dt>
		<dd>{{page.coordinator-name}}</dd>
		<dt>Email:</dt>
		<dd>{{page.coordinator-email}}</dd>
	</dl>

	<dl>
		<dt>Start date:</dt>
		<dd>{{page.start}}</dd>
		<dt>End date:</dt>
		<dd>{{page.end}}</dd>
	</dl>

	<h3>Background</h3>

	<p>{{page.background}}</p>
	
	<table class="table">
 		<thead>
		    <tr>
			    <th class="h3">Goals</th>
			    <th>Docs</th>
			    <th>Contact</th>
		    </tr>
  		</thead>
  		<tbody>
		    <tr>
		      <td>Develop and publish an inventory of public datasets held by the City of Austin</td>
		      <td><a href="https://github.com/cityofaustin/open-data-inventory">inventory repo</td>
		      <td>Brad McCarty</td>
		    </tr>
		    <tr>
		      <td>Create a common set of core metadata standards to provide proper attribution to each data set</td>
		      <td></td>
		      <td><a href="http://github.com/haileypate">Hailey Pate</a></td>
		    </tr>
		    <tr>
		      <td>Define and implement a process at the City for responding to requests for new open datasets</td>
		      <td>tba</td>
		      <td><a href="http://github.com/haileypate">Hailey Pate</a></td>
		    </tr>
		    <tr>
		      <td>Update the documentation of Austin’s open data assets on the <a href="http://us-city.census.okfn.org/">US Open Data Census</a> website</td>
		      <td></td>
		      <td>Marbenn Cayetano</td>
		    </tr>
		    <tr>
		      <td>Update the design of the Open Data Portal</td>
		      <td>tba</td>
		      <td>Janette Milan</td>
		    </tr>
		    <tr>
		      <td>Launch the Open Performance Dashboard</td>
		      <td>tba</td>
		      <td>Peter Feighner</td>
		    </tr>
		    <tr>
		      <td>Release data liaison SSPR language for user review and feedback</td>
		      <td><a href="http://cityofaustin.github.io/open-data-docs/liaison-responsibilities/">current draft</a></td>
		      <td>Ted Lehr</td>
		    </tr>
  		</tbody>
	</table>

	{{ content }}
</div>
